.place {
  display: grid;
  grid-template-columns: 1fr 1.04fr;
  grid-template-rows: auto 2fr;
  grid-template-areas:
    "title website"
    "image paragraph";
  gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    grid-template-columns: minmax(340px, 440px) 1fr;
    column-gap: 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    gap: 32px;
  }
}
